
<ion-content padding>
  <div class="boxlogin">
    <img src="{{ urlImage }}" width="150px" height="150px"/>
    <p *ngIf="isUsuarioValido">Bem vindo {{ nomeUsuario }}</p>
  </div>

    <ion-list>
      <ion-item>
        <ion-label stacked>Usuário do Github</ion-label>
        <ion-input 
        type="email" 
        [(ngModel)]="email"
        (blur)="buscarUserGithub()">
      </ion-input>
      </ion-item>
      <ion-item *ngIf="isUsuarioValido">
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password"  [(ngModel)]="senha"></ion-input>
      </ion-item>
      <ion-item *ngIf="isUsuarioValido">
        <button id="btn-login" ion-button block round (click)="fazerLogin()">ENTRAR</button>
        <p (click)="abrirCadastro()"> Criar conta </p>
      </ion-item>
    </ion-list>
</ion-content>

